html {
	overflow-y: scroll;
}

@media only screen and (max-device-width: 1366px) {
	@-ms-viewport{ width: 630px; }
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v5/LKf8nhXsWg5ybwEGXk8UBQ.woff) format('woff');
}

body {
	background: #fff;
	color: #111;
	font-family: 'PT Sans', Tahoma, sans-serif;
	padding: 0px;
	margin: 0px;
}

#header {
	background: #333;
	height: 50px;
	padding: 10px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 10;
	color: #fff;
}

#header h1 {
	display: inline-block;
	margin: 5px 10px;
	padding: 0px;
	color: #fff;
	font-weight: normal;
}

#header a {
	color: #fff;
	font-family: georgia;
	text-decoration: none;
}

#info {
	position: fixed;
	right: 15px;
	top: 22px;
	color: #fff;
}

#header #linkscontainer {
	word-spacing: 30px;
	display: inline-block;
	font-size: 22px;
	margin-top: 13px;
	margin-left: 50px;
	padding: 0px;
}

#headerpad { 
	height: 90px;
}

#pinbackground {
	background: #f1f1f1;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	position: fixed;
}

#pincontainer {
	position: relative;
	top: 0px;
}

div.pinitem {
	position: absolute;
	width: 270px;
	border: solid 1px #ccc;
	overflow: hidden;
	background: #fff;
	color: #656;
	padding: 7px;
	cursor: pointer;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}

div.pinitem h1 {
	margin: 5px 0px;
	margin-bottom: 15px;
	padding: 0px;
	font-size: 20px;
	font-weight: normal;
}

div.pinitem img {
	max-width: 270px;
}

div.pinitem pre.prettyprint {
	margin: 0px -8px;
	margin-bottom: -26px;
}

pre.prettyprint {
	background: #111;
	font-size: 14px;
}

#post {
	width: 600px;
	margin: auto;
	position: relative;
	line-height: 29px;
	font-size: 18px;
}

#post h1 {
	color: #666;
	font-size: 28px;
	font-weight: normal;
}

#post img {
	max-width: 590px !important;
	position: relative;
	margin: auto;
}

#mainpage {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
	border: none;
	display: none;
	z-index: 100;
}

